In [6]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_18")

ProgrammingError: Oracle Client library has already been initialized

In [12]:
import pandas as pd
import cx_Oracle
import json

class db_connect:
    # @staticmethod 
    # def revenue_data():
    #     # Initialize Oracle client
        

    #     # Load configuration
    #     # config = json.load(open('config.yaml'))
    #     db_username = 'qrappprod'
    #     db_password = 'qrappprod'
    #     db_host = '172.16.200.115'
    #     db_port = '1521'
    #     db_service = 'qrapp'

    #     # Connect to the database
    #     dsn = cx_Oracle.makedsn(db_host, db_port, service_name=db_service)
    #     connection = cx_Oracle.connect(db_username, db_password, dsn=dsn)

    #     # Execute SQL queries
    #     sqlcursor = connection.cursor()
    #     query_list = ['Revenue_Cash_NonCash.sql', 'Revenue_Cash.sql', 'Revenue_NonCash.sql']
    #     dfs = {}
    #     for query in query_list:
    #         with open(query, 'r') as file:
    #             sql_script = file.read()

    #         sql_statements = sql_script.split(';')

    #         # Execute each SQL statement
    #         for statement in sql_statements:
    #             if statement.strip():
    #                 sqlcursor.execute(statement)

    #         result = sqlcursor.fetchall()
    #         if query == query_list[0]:
    #             dfs['CashNonCash'] = pd.DataFrame(result, columns=["transaction_date",
    #                                                                 "mid",
    #                                                                 "station_name",
    #                                                                 "transactiontype",
    #                                                                 "payment_type",
    #                                                                 "payment_mode",
    #                                                                 "revenue_type",
    #                                                                 "equipment_id",
    #                                                                 "transaction_count",
    #                                                                 "income",
    #                                                                 "outgoing",
    #                                                                 "total"
    #                                                             ])
    #         elif query == query_list[1]:
    #             dfs['Cash'] = pd.DataFrame(result, columns=["transaction_date",
    #                                                 "mid", "station_name",
    #                                                 "transactiontype",
    #                                                 "equipment_id",
    #                                                 "payment_type",
    #                                                 "payment_mode",
    #                                                 "revenue_type",
    #                                                 "transaction_count",
    #                                                 "income",
    #                                                 "outgoing",
    #                                                 "total"
    #                                                 ])
    #         else:
    #             dfs['NonCash'] = pd.DataFrame(result, columns=["transaction_date",
    #                                                 "mid", "station_name",
    #                                                 "transactiontype",
    #                                                 "equipment_id",
    #                                                 "payment_type",
    #                                                 "payment_mode",
    #                                                 "revenue_type",
    #                                                 "transaction_count",
    #                                                 "income",
    #                                                 "outgoing",
    #                                                 "total"
    #                                                 ])
    #     # Close the database connection
    #     sqlcursor.close()
    #     connection.close()
    #     return dfs
    
    @staticmethod 
    def riderhip_data():
        # Initialize Oracle client
        # cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_18")

        # Load configuration
        db_username = 'qrappprod'
        db_password = 'qrappprod'
        db_host = '172.16.200.115'
        db_port = '1521'
        db_service = 'qrapp'

        
        # Connect to the database
        dsn = cx_Oracle.makedsn(db_host, db_port, service_name=db_service)
        connection = cx_Oracle.connect(db_username, db_password, dsn=dsn)

        # Execute SQL queries
        sqlcursor = connection.cursor()
        query_list = ['Ridership_all.sql']
        dfr = {}
        for query in query_list:
            with open(query, 'r') as file:
                sql_script = file.read()

            sql_statements = sql_script.split(';')

            # Execute each SQL statement
            for statement in sql_statements:
                if statement.strip():
                    sqlcursor.execute(statement)

            result = sqlcursor.fetchall()
            if query == query_list[0]:
                dfr['Ridership'] = pd.DataFrame(result, columns=['Station',
                                                                'Equip Grp ID',
                                                                'Equip ID',
                                                                'Exit Count',
                                                                'Exit TRX DATE',
                                                                'Entry Count',
                                                                'Entry TRX DATE',
                                                                'TRX TYPE',
                                                                'TRX SEQ NUM',
                                                                'LINE ID',
                                                                'AQUIRER ID',
                                                                'OPERATOR ID',
                                                                'TERMINAL ID',
                                                                'CARD TYPE',
                                                                'PANSHA',
                                                                'PRODUCT TYPE',
                                                                'TRX AMOUNT',
                                                                'CARD BALANCE',
                                                                'PAYTM TID',
                                                                'PAYTM MID',
                                                                'INSERT DATE'
                                                                ])
           
        # Close the database connection
        sqlcursor.close()
        connection.close()
        return dfr
       

# dfs = db_connect.revenue_data()
dfr = db_connect.riderhip_data()

type(dfr)

dict

In [13]:
for key in dfr.keys():
    dfr[key].columns=['Station',
                        'Equip Grp ID',
                        'Equip ID',
                        'Exit Count',
                        'Exit TRX DATE',
                        'Entry Count',
                        'Entry TRX DATE',
                        'TRX TYPE',
                        'TRX SEQ NUM',
                        'LINE ID',
                        'AQUIRER ID',
                        'OPERATOR ID',
                        'TERMINAL ID',
                        'CARD TYPE',
                        'PANSHA',
                        'PRODUCT TYPE',
                        'TRX AMOUNT',
                        'CARD BALANCE',
                        'PAYTM TID',
                        'PAYTM MID',
                        'INSERT DATE'
                        ]

In [14]:
dfr

{'Ridership':                          Station Equip Grp ID Equip ID  Exit Count  \
 0                   0303-Stadium            5     5012           0
 1                    0301-Nagole            6     6001           0
 2                   0303-Stadium            6     6021           0
 3    0105-Dr.B.R.Ambedkar Balngr            5     5011           0
 4              0107-Bharat Nagar            5     5011           0
 ..                           ...          ...      ...         ...
 174                0106-Moosapet            4     4022           0
 175                 0303-Stadium            4     4022           0
 176                 0303-Stadium            6     6001           0
 177                 0303-Stadium            4     4022           0
 178              0104-Kukatpally            4     4003           0

     Exit TRX DATE  Entry Count      Entry TRX DATE       TRX TYPE  \
 0            None            1 2023-09-14 18:02:33   2-Metro Exit
 1            None            1 2023-09-14 18:23:53   2-Metro Exit
 2            None            1 2023-09-14 14:27:03   2-Metro Exit
 3            None            1 2023-09-14 07:25:19   2-Metro Exit
 4            None            1 2023-09-14 06:01:06   2-Metro Exit
 ..            ...          ...                 ...            ...
 174          None            1 2023-09-14 06:50:48  1-Metro Entry
 175          None            1 2023-09-14 13:48:13  1-Metro Entry
 176          None            1 2023-09-14 18:01:34  1-Metro Entry
 177          None            1 2023-09-14 13:43:14  1-Metro Entry
 178          None            1 2023-09-14 08:36:23  1-Metro Entry

      TRX SEQ NUM LINE ID  ... OPERATOR ID TERMINAL ID               CARD TYPE  \
 0           25.0      03  ...        6014      30314C  1 - Rupay Prepaid Card
 1          205.0      03  ...        6014      301182  1 - Rupay Prepaid Card
 2         4010.0      03  ...        6014      303182  1 - Rupay Prepaid Card
 3            7.0      01  ...        6014      105145  1 - Rupay Prepaid Card
 4            1.0      01  ...        6014      107146  1 - Rupay Prepaid Card
 ..           ...     ...  ...         ...         ...                     ...
 174          NaN      01  ...        6014      106107  1 - Rupay Prepaid Card
 175          NaN      03  ...        6014      303104  1 - Rupay Prepaid Card
 176          NaN      03  ...        6014      30318E  1 - Rupay Prepaid Card
 177          NaN      03  ...        6014      303104  1 - Rupay Prepaid Card
 178          NaN      01  ...        6014      104106  1 - Rupay Prepaid Card

                                                 PANSHA PRODUCT TYPE  \
 0    2E4EFC64091AF46783BAB1683BEBB63B76C5D7DD66867F...            0
 1    2E4EFC64091AF46783BAB1683BEBB63B76C5D7DD66867F...            0
 2    C05562D4A49283721094FA00B5DC6C18CB1927F41C805E...            0
 3    1C6033E4C2245A56DA13AF16B340FE19402DEAB15629E3...            0
 4    BDA7E0C679A118DF4081C629610FB1540F27D299A80203...            0
 ..                                                 ...          ...
 174  8EC1F6545830B94D2E8507171AAD36611F09A03B9DB60B...            0
 175  4E1696C95FBA672E0F05880129CB9B4115F52D4839841F...            0
 176  4E1696C95FBA672E0F05880129CB9B4115F52D4839841F...            0
 177  4E1696C95FBA672E0F05880129CB9B4115F52D4839841F...            0
 178  BDA7E0C679A118DF4081C629610FB1540F27D299A80203...            0

      TRX AMOUNT  CARD BALANCE  PAYTM TID             PAYTM MID  \
 0           1.1        641.30   11185259  LTMetr33790038971459
 1          16.5        622.60   11009323  LTMetr33790038971459
 2           1.0        318.91   11009297  LTMetr33790038971459
 3          10.0         45.10   11184964  LTMetr33790038971459
 4          10.0        459.33   11185132  LTMetr33790038971459
 ..          ...           ...        ...                   ...
 174         NaN           NaN          0  LTMetr33790038971459
 175         NaN           NaN          0  LTMetr33790038971459
 176         NaN           NaN          0  LTMetr33790038971459
 177         NaN           NaN          0  LTMetr33790038971459
 178         NaN           NaN          0  LTMetr33790038971459

             INSERT DATE
 0   2023-09-14 18:02:11
 1   2023-09-14 18:23:01
 2   2023-09-14 14:26:09
 3   2023-09-14 12:49:12
 4   2023-09-14 11:09:44
 ..                  ...
 174 2023-09-14 12:12:02
 175 2023-09-14 13:47:57
 176 2023-09-14 18:01:09
 177 2023-09-14 13:42:57
 178 2023-09-14 13:58:43

 [179 rows x 21 columns]}